* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Times New Roman';
}

body {
    background-color: black;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: start;
    justify-content: center;
}

.main-box {
    color: white;
    height: fit-content;
    width: fit-content;
    margin-top: 10vh;
    text-align: center;
}

button {
    border: 5px solid blue;
    height: auto;
    width: auto;
    padding: 1rem 3rem;
    background-color: red;
    color: yellow;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}